#color1 {
    background-color: aqua;
}
#color2 {
    background-color: aquamarine;
}
#color3 {
    background-color: blue;
}
#color4 {
    background-color: gold;
}
#color5 {
    background-color: green;
}
#color6 {
    background-color: greenyellow;
}